<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id='app6'>
		<div>
			<div>{{message}}</div>
			<div>{{message2}}</div>
		</div>
		<input v-model="message">
		<input v-model="message2">
	</div> 
	
</body>

<script type='module'>
	import {SelfVue as Vue} from './self-vue.js'

	var app6 = new Vue({
		el: '#app6',
		data: {
			message: 'hello',
			message2: 'world'
		}
	})

</script>
</html>